.container{
    display: flex;
    justify-content: center;
    margin-left: 250px;
    margin-right: 250px;
}
.menu-container{
    align-self: center;
    flex-grow: 1;
}
.photo-container{
    height: 100%;
    flex-grow: 3;
}
.footer{
    flex: 1 100%;
}
.flex-item{
    background: tomato;
    padding: 10px;
    width: 100px;
    border: 3px solid rgba(0,0,0,.2);

    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}